.active-about-us {
  position: relative;
  text-decoration: none;
  color: blue;

}
.about-sub-nav li a{
  text-decoration: none;

}

.active-about-us::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  /* Adjust this value as needed */
  width: 0;
  /* Start with 0 width */
  height: 2px;
  /* Adjust this value as needed */
  /* background-color: rgb(51, 51, 54); */
  /* animation: underlineAnimation 0.3s forwards;  */
  /* animation-delay: 0.5s; */

}


@keyframes underlineAnimation {
  0% {
    width: 0;
   
    /* Start with 0 width */
  }

  100% {
    width: 100%;
    /* Gradually increase width to 100% */
  }
}