@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
